Q.1) print 0 to 20 by using range

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Q.2)print range 10 to 20

In [6]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

Q.3)Print number of items in the list by using 'len'

In [39]:
lists=[[10,20,14,55,43,87,76]]
for x in lists:
    print(x,end=' ')
print('\nNumber of item in the List2:')
print(len(x))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

Q.4) Print Artificial Intelligence in horizontal & vetical scape

In [30]:
print('Artificial Intelligence')
x='Artificial Intelligence'
for word in x:
    print(word)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

Q.5)
-Your Name-
-Your Age-
-Your Profession-

In [7]:
print('-Your Name-\n-Your Age-\n-Your Profession-')

-Your Name-
-Your Age-
-Your Profession-

Q.6)Print (1, 'Welcome', 2, 'Hope')

In [8]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

Q.7) Print ((0, 1, 2, 3), ('python', 'HOPE'))

In [29]:
Tuple1=((0, 1, 2,3))
Tuple2=('python', 'HOPE')
Tuple3 =Tuple1,Tuple2
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

q.8)Print the Odd Numbers in the list---20,10,16,19,25,1,276,188

In [42]:
Tuple1=((20,10,16,19,25,1,276,188))
print(Tuple1)
lists=[20,10,16,19,25,1,276,188]
for x in lists:
    if(x%2==1):
        print(x,'is Odd')

(20, 10, 16, 19, 25, 1, 276, 188)
19 is Odd
25 is Odd
1 is Odd

Q.9)Print the Even numbers in the list---20,10,16,19,25,1,276,188

In [43]:
Tuple1=((20,10,16,19,25,1,276,188))
print(Tuple1)
lists=[20,10,16,19,25,1,276,188]
for x in lists:
    if(x%2==0):
        print(x,'is Even')

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even