Q.1) Print Statement - HOPE AI

In [1]:
print('HOPE AI')

HOPE AI

Q.2)Buy input - Enter your institute name : HOPE AI

In [2]:
name=input('Enter your institute name:')

Enter your institute name:HOPE AI

Q.3)Buy inputs ---
Enter your name: Raj---
Enter your age: 15---
Enter your school name: Guru school----
Enter your drgree: B.E CSE

In [1]:
name=input('Enter your name:')
age=input('Enter your age:')
schoolname=input('Enter your school name:')
degree=input('Enter your degree:')

Enter your name:Raj
Enter your age:15
Enter your school name:Guru school
Enter your degree:B.E CSE

Q.4)Addition---a= 43----
b= 34---
add = 77

In [2]:
N1=43
print('a=',N1)
N2=34
print('b=',N2)
print('Add=',N1+N2)

a= 43
b= 34
Add= 77

Q.5)Subtraction---a= 43---- b= 34--- sub = 9

In [4]:
N1=43
print('a=',N1)
N2=34
print('b=',N2)
print('Sub=',N1-N2)

a= 43
b= 34
Sub= 9

Q.6)Multiplication---a= 63
---b= 97---
Mul = 6111

In [5]:
N1=63
print('a=',N1)
N2=97
print('b=',N2)
print('Mul=',N1*N2)

a= 63
b= 97
Mul= 6111

Q.7)Division---
a= 76---
b= 31---
Float Div = 2.4516129032258065

In [6]:
N1=76
print('a=',N1)
N2=31
print('b=',N2)
print('Float Div=',N1/N2)

a= 76
b= 31
Float Div= 2.4516129032258065

Q.8)Floor Division--- a= 76--- b= 31--- Floor Div = 2

In [7]:
N1=76
print('a=',N1)
N2=31
print('b=',N2)
print('Floor Div=',N1//N2)

a= 76
b= 31
Floor Div= 2

Q.9)Modulo----
a= 76---
b= 31---
Modulo = 14

In [8]:
N1=76
print('a=',N1)
N2=31
print('b=',N2)
print('Modulo=',N1%N2)

a= 76
b= 31
Modulo= 14

Q.10)Power---
a= 4---
b= 4---
Power = 256

In [11]:
N1=4
print('a=',N1)
N2=4
print('b=',N2)
print('Power=',N1**N2)

a= 4
b= 4
Power= 256